@import "~antd/dist/reset.css";


* {
  box-sizing: border-box;
}

#root {
  margin: 0;
  padding: 0;
  --main-color: #fff;
}

.App {
  max-width: 1280px;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #000000;
}

li {
  list-style-type: none;
}

.ant-row {
  justify-content: center;
}